.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 0;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

#nav-motto {
    margin-right: 10%;
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-style: italic;
    font-family: 'Tangerine', cursive;
    float: center;
    display: block;
    /*color: #f2f2f2;*/
    /*text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
/*    z-index: 1;*/
    /*position: fixed;*/
}

#home-cover {
    /* width: 70vw; */
    height: 40em;
    margin-top: 10px;
    padding-bottom: 40px;
}

#home-cover-animation {
  text-align: center;
}

#home-form {
    margin-bottom: 0%;
    bottom: 80px;
}

body {
    margin-top: 0px;
    background-color: #59BCA8;
}
