.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

#nav-motto {
    margin-right: 10%;
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-style: italic;
    font-family: 'Tangerine', cursive;
    float: center;
    display: block;
    /*color: #f2f2f2;*/
    /*text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
/*    z-index: 1;*/
    /*position: fixed;*/
}

#info-panel-1 {
    width: 49%;
}


#panel-intro-heading{
    font-size: 1.6em;
}

.info-panel-1-text {
    padding-top: 7%;
    font-size: 1.5em;
}

#info-panel-2 {
    width: 49%;
    float: right;
}

#panel-main-heading{
    font-size: 1.6em;
}

.info-panel-2-text {
    padding-top: 5%;
    font-size: 1.5em;
}

#info-panel-3 {
    width: 49%;
    float: left;
}

#panel-conclusion-heading{
    font-size: 1.6em;
}

.info-panel-3-text {
    padding-top: 10%;
    font-size: 1.5em;
}

body {
    margin-top: 7%;
    background-color: #91d3c5;
}
